table,
tr,
td {
  border: 1px solid black;
}

button {
margin: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid green;
}
